*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
table.table-fixed{
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.table-container{
  width: 100%; 
  background-color: #e2e2e2;
}
.table-content{
  width: 750px; 
  background-color: #fff; 
  margin-left: auto; 
  margin-right: auto;
}
.header-block{
  display: block;
  width: 100%;
  min-height: 50px;
  text-align: left;
  text-decoration: none;
  color: #333333;
  border-top: 8px; 
  border-bottom: 8px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #616161; 
  padding-left: 4px;
  padding-right: 4px;
}
.header-block .logo-img{
  width: 50px;
  vertical-align: top;
  margin-top: 6px;
  margin-right: 10px;
}
.header-block span{
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  line-height: 22px;
  color: #616161;
}
td.content-cell{
  padding: 10px;
}
.footer-container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.footer-p{
  text-align: center;
  font-size: 0.9em;
  color: #6c6c6c;
}