/*loader*/
.main_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 999999;
}
.very_mini_loader .loader {
  position: relative;
  width: 20px;
}
.mini_loader .loader {
  position: relative;
  width: 30px;
}
.main_loader .loader {
  position: relative;
  width: 60px;
}
.very_mini_loader .loader:before,
.mini_loader .loader:before,
.main_loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.very_mini_loader .circular,
.mini_loader .circular,
.main_loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
}
.very_mini_loader .path,
.mini_loader .path,
.main_loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite, loader-color 6s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite, loader-color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes loader-color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
@-webkit-keyframes loader-color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
/*end loader*/