html, body {
  height: 100%;
}

body{
  font-family: 'Roboto', 'Bai Jamjuree', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.cover-bg {
/*original image from whoalice-moore via pixabay.com*/
  background-image: url(../img/bg/music-girl.jpg?v=1001);
  background-position: center;
  background-size: cover;
}

.sign-container {
  min-height: 100vh;
}