/*.post-content-container{

}

.post-content-container img{
  max-width: 100%;
  height: auto;
}*/
#post-content{}

#post-content .iframe-vdo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#post-content a{
	word-break: break-all;
}
/*
p, span, div, b, i, u {
	line-height: 1.5rem;
}*/