html{
  padding: 0;
  margin: 0;
}

body{
  min-width: 300px;
  padding: 0;
  margin: 0;
  position: relative;
}

ul.no-bullets, ul.no-bullets li{
  list-style: none;
  margin: 0;
  padding: 0;
}

table.table-fixed{
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

img{
  vertical-align: unset;
}

.img_fill{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img_fill img{
  width: 100%;
  flex-shrink: 0;
}

.img_fill img.hrzImg{
  width: auto!important;
  height: 100%!important;
  max-width: none!important;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-clamp-2,
.line-clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3{
  -webkit-line-clamp: 3;
}

.cursor-pointer{ 
  cursor: pointer; 
}

.text-decoration-none{
  text-decoration: none;
}

.small-2, small.small-2{
  font-size: 85%;
}

.text-white-75{
  color: rgba(255, 255, 255, .75)!important;
}